.succfont h1{font-weight: bold;color: white;font-size: 30px}
.wrkhed h4{font-weight: bold;}
.design h4{font-weight: bold;}
.fedbk h4{font-weight: bold;}
.execu h4{font-weight: bold;}
.design i{font-size: 50px;}
.execu i{font-size: 50px;}
.fedbk i{font-size: 50px;}

.design p{font-weight:lighter;}
.execu p{font-weight:lighter;}
.fedbk {font-weight:lighter;}

.violet i{font-size: 27px;}
.seccol i{font-size: 25px;}
.thcol i{font-size: 25px;}
.frcol i{font-size: 27px;}

.violet h4{font-weight:lighter;}
.seccol h4{font-weight: lighter;}
.thcol h4{font-weight: lighter;}
.frcol h4{font-weight:lighter;}

.violet p{font-size: 12px;font-weight: lighter;}
.seccol p{font-size: 12px;font-weight: lighter;}
.thcol p{font-size: 12px;font-weight: lighter;}
.frcol p{font-size: 12px;font-weight: lighter;}
.succfont p{font-size: 12px;font-weight: lighter;}




body{font-family: Arial, Helvetica, sans-serif;}
.maindiv{display: flex;}
.maindiv2{width: 100%;height: 70px;display: flex;border-style:solid ;border-width: 2px;border-color: #3A809E;padding: 20px;padding-top: 8px;font-size: 15px;}
.section1{background-image: url("images/build.jpg");height: 800px;width: 100%;
margin-left: -8px;margin-top: -20px;background-color: #1F7A92;background-repeat: no-repeat;
background-size: 100%;
}
.imglogo{ height:30px; width:55px; float: right;margin-left: 40px;margin-top: 20px;}
.div2adjust{float:right;;margin-left: 260px;}
#about{margin-top: 25px;margin-left: 300px;color:white;}
#project{margin-top: 25px;margin-left: 30px;color:white;}
#pricing{margin-top: 25px;margin-left: 20px;color:white;}
#team{margin-top: 25px;margin-left: 20px;color:white;}
#contact{margin-top: 25px;flex:right;margin-left: 25px;color:white;}
#inbut{margin-left: 30px;background-color: #3F85FB;border:none;color: white;
text-align: center;padding: 20px; padding-top: 2px; font-size: 12px;border:none;margin-top: 24px;}
.btn{  background-color: white;border: none;color: black;padding: 12px 16px;font-size: 14px;
cursor: pointer;}
.btn2{  background-color: white;border: none;color: black;padding: 12px 16px;font-size: 14px;
cursor: pointer;background-color: transparent; box-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);border-style:solid;border-color: white;border;border-width: thin;}
.succfont{font-family: Arial, Helvetica, sans-serif;margin-top: 190px;margin-left: 270px;}
.forcol{height: 1oopx;width: 100%; display: flex;}
.violet{height:200px;width:100%;margin-left:-8px;background-color: #7D56C0;color: white;float: 25%;text-align: center;width: 25%;padding-left: 3px;}
.seccol{height:200px;width:100%;background-color:#AB46B8;color: white;float: 25%;text-align: center;width: 25%;}
.thcol{height:200px;width:100%;background-color:#24A69B;color: white;float: 25%;text-align: center;width: 25%;}
.frcol{height:200px;width:100%;background-color:#26B7F7;color: white;margin-right: -12px;text-align: center;width: 25%;}
.lastsec{display: flex;width: 100%;background-color: #F5F5F5;font-family: Arial, Helvetica, sans-serif;margin-right:20pxpx;text-align: center;height: 250px;}
.wrkhed{display:flex;width: 100%;height:250px;margin-right: 45px;text-align: center;font-family: Arial, Helvetica, sans-serif;font-size: 2px; margin-left: 460px;margin-top: 70px;}
.center{text-align: center;}



.design{height:150px;width:35%;font-family: Arial, Helvetica, sans-serif;font-size: 10px;text-align:center;background-color: #F5F5F5;float:25%;float:left;}
.fedbk{height:150px;width:35%;font-family: Arial, Helvetica, sans-serif;font-size: 10px;background-color: #F5F5F5;float:25%;float:left;text-align: center;}
.execu{height:150px;width:35%;font-family: Arial, Helvetica, sans-serif;font-size: 10px;background-color: #F5F5F5;float:right;text-align: center;}
.lst{float: right;}
#redcolor{color: rgb(255, 196, 0);}
#bluecolor{color: blueviolet;}
#yellow{color: yellow;}
.fl{display: flex;}
